# Created by https://www.toptal.com/developers/gitignore/api/java,android,maven
# Edit at https://www.toptal.com/developers/gitignore?templates=java,android,maven

.DS_Store

# Python
__pycache__/
.venv/
.venv-new/
.env
venv/
venv

#SQLAlchemy
memory
memory-journal
